<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>A fake website name</h1>
            <nav class="nav">
                <p>dummy</p>
                <p>dummy</p>
                <p>dummy</p>
            </nav>
        </header>

        <main>
            <section>
                <h2>Let's analyse some words!</h2>
                <form id="form" >
                    <label class="label" for="txt">Enter some text to be analysed:</label>
                    <textarea id="text" class='validate input' form="form" name="txt" value="" placeholder="Type here..."></textarea>
                    <label class="label" for="url">Paste a link to a webpage you'd like to analyse:</label>
                    <input id="url" class='validate input' type="text" name="url" value="" placeholder="URL">
                    <input type="submit" name="" value="submit">
                    <div id="input-error" class='validate'></div>
                </form>
                
                <button id="toggle" onclick="return Client.formToggle()">Toggle Input</button>
            </section>

            <section>
                <h3>Form Results:</h3>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    <script>
        // if ('serviceWorker' in navigator){
        //     window.addEventListener('load', _ => {
        //         navigator.serviceWorker.register('/service-worker.js')
        //     })
        // }
    </script>
    </body>
</html>