%head-children {
    height: 5rem;
    box-sizing: border-box;
}

header{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    h1 {
        background-color: pink;
        border-radius: 5px ;
        padding:15px;
        @extend %head-children;
    }

    .nav {
        background-color: lawngreen;
        border-radius: 5px;
        padding: 20px;
        @extend %head-children;
        
        p{
            float: left;
            padding: 10px;
            margin: auto;
        }

    }
}